html, body {
    padding: 0;
    margin: 0;
    background-color: #f7f7f7;
}

header {
    width: 1230px;
    margin: 20px auto;
}

.items {
    width: 1259px;
    margin: 0px auto;
    padding-left: 20px;
}

.item {
    width: 230px;
    height: 320px;
    float: left;
    margin-right: 20px;
    box-shadow: 0 5px 5px #4FAEFE;
    overflow: hidden;
    position: relative;
    transition: all 0.5s;
    margin-bottom: 20px;
}

.item:hover {
    bottom: 5px;
    box-shadow: 0 0 5px #4FAEFE;
}

.item p {
    height: 320px;
    margin: 0;
    font: 30px/120px "??????";
    color: #fff;
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(to bottom, #486DB9 20%, #B2D3FF 80%);
}

.pic {
    margin-left: -35px;
}

.desc {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 320px;
    height: 100px;
    background-color: rgba(75, 109, 185, 0.8);
    padding-left: 40px;
    line-height: 80px;
    transition: all 0.5s;
}

.desc span {
    color: red;
}

.item:hover .desc {
    bottom: 0;
}